h1,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.5rem;
}

.home {
  width: 100vw;
  display: flex;
  position: relative;
  padding: 2%;
  min-height: 100vh;
}
.home_left {
  width: 50vw;
  position: inherit;
  animation-name: home_left;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.express {
  width: 50%;
  position: relative;
}

.home_right {
  width: 50vw;
  position: inherit;
  display: flex;
  justify-content: center;
  animation-name: home_right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.home_right img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 10%;
}

.my_name {
  color: rgb(24, 113, 164);
}

@keyframes home_left {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}
@keyframes home_right {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}

@media screen and (min-width: 439px) {
  .my_name {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    width: 100vw;
    flex-direction: column;
  }
  .home_left {
    width: 100vw;
    margin-bottom: 50px;
  }
  .home_right {
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .express {
    width: 50%;
  }
}

@media screen and (max-width: 670px) {
  .express {
    width: 100%;
  }
}
