.experience {
  background-color: rgba(199, 190, 109, 0.619);
}

.exp {
  background-color: rgba(142, 73, 73, 0.593);
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle {
  border: 1px solid yellow;
  width: 10%;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  margin: 1% 0;
}

.circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle_text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  /* height: auto; */
}
