p,
h1 {
  padding: 0%;
  margin: 0%;
}

.block {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.detailss {
  text-align: center;
  min-width: 100%;
  margin: auto;
}

.img {
  padding: 30px 50px 0px 50px;
  margin: auto 0px;
}

.img img {
  max-width: 250px;
  border-radius: 2rem;
}

.messages {
  padding: 10px 40px 0px 40px;
}

@media (max-width: 700px) {
  .block {
    display: block;
    max-width: 100vh;
    padding-left: 1em;
  }
  .img img {
    max-width: 100px;
  }
  .content {
    width: auto;
  }
}
