.services {
  width: 100vw;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
}

.services_left {
  width: 35vw;
  /* background-color: seashell; */
  position: inherit;
}
.positions {
  width: 65vw;
  justify-content: center;
  align-items: center;
}

.services_right {
  width: 65vw;
  display: flex;
  position: relative;
  justify-content: center;
  /* margin: 0 auto; */
  align-items: center;
  padding: 2%;
  gap: 3rem;
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.services_1 {
  border: 1px solid blue;
  position: inherit;
  color: blue;
  padding: 0 1rem;
  /* height: auto; */
  width: 100%;
}

.img {
  background-color: blue;
}

@keyframes slide {
  from {
    width: 0vw;
    right: -1000px;
    height: 0vh;
  }
  to {
    width: 65vw;
    right: 0px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .services {
    flex-direction: column;
  }
  .services_left {
    width: 100vw;
    margin-bottom: 10%;
  }
  .services_right {
    width: 100vw;
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .services_right {
    flex-direction: column;
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .services_1 {
    min-width: 100%;
  }
}
