* {
  padding: 0;
}

.services {
  width: 100vw;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.services p {
  font-size: 100%;
}

.services_left {
  width: 35vw;
  position: inherit;
  padding: 4%;
  text-align: center;
}
.services_left_ {
  padding: 1rem;
  border-radius: 20px;
  border: 0.5rem double rgb(49, 174, 223);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.myservice p {
  padding: 2%;
}

.services_right {
  width: 65vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2%;
  gap: 3rem;
  animation-name: up;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.services_1 {
  border: 0.5rem double rgb(49, 174, 223);
  position: inherit;
  color: rgb(80, 80, 135);
  padding: 5%;
  height: 50%;
  width: 100%;
}
.card {
  text-align: center;
}
.card i {
  border-radius: 50%;
  transform: scale(0.5);
  object-fit: contain;
  font-size: 1000%;
  text-align: center;
}
.img {
  background-color: blue;
}

@keyframes up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .services {
    flex-direction: column;
  }
  .services_left {
    width: 70%;
    margin: auto;
  }
  .services_right {
    width: 100vw;
    gap: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .services_left {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .services_right {
    flex-direction: column;
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .services_1 {
    min-width: 100%;
  }
}
