.services {
  width: 100vw;
  display: flex;
}

* {
  padding: 0;
}

.services_left {
  width: 35vw;
  /* background-color: seashell; */
}

.services_right {
  width: 65vw;
  /* background-color: lavender; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.services_1 {
  border: 1px solid blue;
  color: blue;
  padding: 0 1rem;
  height: auto;
  width: 50%;
}

.img {
  background-color: blue;
}

@media screen and (max-width: 650px) {
  .services_right {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .services_1 {
    width: 100%;
    /* margin: 0px 20px; */
  }
}

@media screen and (max-width: 1200px) {
  .services {
    width: 100vw;
    flex-direction: column;
  }
  .services_left {
    width: 100vw;
    margin-bottom: 10%;
  }
  .services_right {
    width: 100%;
  }
}
