.footer {
  max-width: 100%;
  /* background-color: rgba(147, 106, 197, 0.57); */
  /* background-image: linear-gradient(
    to right,
    rgba(29, 115, 126, 0.882),
    rgba(125, 177, 41, 0.792)
  ); */
  min-height: 10vh;
  padding: 1%;
  position: relative;

  margin-bottom: 1%;
}

.footerflex {
  display: flex;
  /* background-color: rgba(147, 106, 197, 0.756); */
  /* box-shadow: 0 10px 0.5rem rgb(147, 106, 197); */
  min-height: inherit;
  min-width: inherit;
  margin-bottom: 0.5%;
  border-radius: 10px;
  padding: 2%;
}

.footer_flex1 {
  min-width: 30%;
}

.footer_flex2 {
  min-width: 70%;
  padding: 1%;
}

.abouts {
  display: flex;
  gap: 1%;
  justify-content: center;
}

.contents {
  /* background-color: rgba(58, 120, 78, 0.72); */
  background-image: linear-gradient(
    to right,
    rgba(45, 148, 159, 0.959),
    rgba(41, 80, 32, 0.792)
  );
  box-shadow: 0 5px 0.5rem rgba(15, 22, 19, 0.104);
  border-radius: 10px;
  padding: 0.4%;
  width: 100%;
}

.ab {
  text-align: center;
}

.ab li {
  list-style: none;
  padding-top: 2%;
}

.socials {
  text-align: center;
  justify-content: center;
  font-size: 220%;
  display: flex;
  gap: 5%;
}

@media screen and (max-width: 300px) {
  .footer_flex {
    padding: 3%;
  }
  .footer_flex1 {
    display: none;
  }
  .footer_flex2 {
    width: 100%;
  }
}

.abouts .footer_flex {
  background-color: rgb(110, 103, 103);
  position: relative;
  max-width: inherit;
  min-height: inherit;
  padding: 0.4%;
  box-shadow: 0 10px 0.5rem rgb(230, 229, 229);
}
