.footer {
  max-width: 100%;
  background-color: rgba(241, 240, 200, 0.434);
  min-height: 30vh;
  padding: 1%;
  position: relative;
}

.footerflex {
  display: flex;
  background-color: white;
  min-height: inherit;
  min-width: inherit;
}

.footer_flex1 {
  min-width: 30%;
}

.footer_flex2 {
  min-width: 70%;
  padding: 1%;
}

.abouts {
  display: flex;
  gap: 1%;
  justify-content: center;
}

.contents {
  width: 30%;
}

.ab li {
  display: grid;
  list-style: none;
  row-gap: 2px;
}

.abouts .footer_flex {
  background-color: rgb(110, 103, 103);
  position: relative;
  max-width: inherit;
  min-height: inherit;
  padding: 0.4%;
  box-shadow: 0 10px 0.5rem rgb(230, 229, 229);
}
