body {
  margin: 0;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
#root {
  margin: 50px 70px 0 70px;
  overflow: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
