.navbar {
  display: flex;
  max-width: 100%;
  min-height: 6rem;
  justify-content: center;
  align-items: center;
}
.navbar a {
  list-style: none;
  min-width: 10%;
  padding: 0 10px;
}
.hamburger {
  padding: 5px;
  display: none;
  float: right;
}

.hamburger i {
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

@keyframes showMobile {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

@keyframes removeMobile {
  from {
    left: 0;
  }
  to {
    left: -1000px;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
  .showMobile {
    background-color: rgba(4, 4, 4, 0.664);
    color: rgb(86, 121, 119);
    border-radius: 20px;
    box-shadow: 0 1px 8px rgb(0, 0, 0);
    text-align: center;
    margin: 5px 0px 2px 4px;
    flex-direction: column;
    padding-top: 3rem;
    width: 50vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    min-height: 99vh;
    animation-name: showMobile;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
  }

  .removeMobile {
    background-color: rgba(13, 13, 200, 0.2);

    text-align: center;
    flex-direction: column;
    padding-top: 3rem;
    width: 50vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    min-height: 100vh;
    animation-name: removeMobile;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .showMobile a {
    width: 50%;
  }
  .hamburger {
    display: block;
  }
}
